In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.impute import KNNImputer

In [3]:
df_train = pd.read_csv("/Users/shanks/Downloads/spaceship-titanic/train.csv")
df_test = pd.read_csv("/Users/shanks/Downloads/spaceship-titanic/test.csv")

In [4]:
df_test['Transported'] = False
df = pd.concat([df_train, df_test], sort=False)
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [11]:
df.drop(['Name', 'PassengerId'], axis=1, inplace=True)
df.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [22]:
df[['Deck', 'Num', 'Side']] = df['Cabin'].str.split('/', expand=True)
df = df.drop(columns=['Cabin'])
df['Deck'] = df['Deck'].fillna('U')
df['Num'] = df['Num'].fillna(-1)
df['Side'] = df['Side'].fillna('U')

In [23]:
df["Deck"].value_counts()

Deck
F    4239
G    3781
E    1323
B    1141
C    1102
D     720
A     354
U     299
T      11
Name: count, dtype: int64

In [24]:
df["Num"].value_counts()

Num
-1      299
82       34
56       28
4        28
31       27
       ...
1848      1
1847      1
1846      1
1844      1
1890      1
Name: count, Length: 1895, dtype: int64

In [25]:
df["Side"].value_counts()

Side
S    6381
P    6290
U     299
Name: count, dtype: int64

In [42]:
df['Deck'] = df['Deck'].map({'G':0, 'F':1, 'E':2, 'D':3, 'C':4, 'B':5, 'A':6, 'U':7, 'T':8})
df['Side'] = df['Side'].map({'U':-1, 'P':1, 'S':2})

In [52]:
impute_lis = ['Age', 'VIP', 'Num', 'CryoSleep', 'Side', 'Deck','RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
imputer = KNNImputer()

df_imputed_arr = imputer.fit_transform(df[impute_lis])
kept_columns = df[impute_lis].columns[df[impute_lis].notna().any()].tolist()
df_imputed = pd.DataFrame(df_imputed_arr, columns=kept_columns)
rest = list(set(df.columns) - set(impute_lis))
df_rest = df[rest].reset_index(drop=True)
df = pd.concat([df_rest, df_imputed], axis=1)

In [53]:
df['HomePlanet'] = df['HomePlanet'].fillna('U')
df['Destination'] = df['Destination'].fillna('U')
category_colls = ['HomePlanet', 'Destination']
for col in category_colls:
    df = pd.concat([df, pd.get_dummies(df[col], prefix = col)], axis = 1)
    
df = df.drop(columns=category_colls)

In [67]:
bill_cols = ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
df['amt_spent'] = df[bill_cols].sum(axis=1)
df['std_amt_spent'] = df[bill_cols].std(axis=1)
df['mean_amt_spent'] = df[bill_cols].mean(axis=1)

df['3_high_cols'] = df['CryoSleep'] + df.get('HomePlanet_Europa', 0) + df.get('Destination_55 Cancri e', 0)
df['3_low_cols'] = df['mean_amt_spent'] + df['amt_spent'] + df.get('HomePlanet_Earth', 0)

In [82]:
df_train, df_test = df[:df_train.shape[0]], df[df_train.shape[0]:]
df_test = df_test.drop(columns='Transported')
df_train.shape, df_test.shape

((8693, 23), (4277, 22))

In [83]:
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from lightgbm import LGBMClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [88]:
X = df_train.drop(columns='Transported')
y = df_train['Transported']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [89]:
model_1 = LogisticRegression(max_iter=1000)
model_2 = DecisionTreeClassifier()
model_3 = RandomForestClassifier()
model_4 = XGBClassifier()
model_5 = LGBMClassifier()

In [97]:
model_1.fit(X_train, y_train)
print("Logistic:", accuracy_score(y_test, model_1.predict(X_test)))

model_2.fit(X_train, y_train)
print("Decision Tree:", accuracy_score(y_test, model_2.predict(X_test)))

model_3.fit(X_train, y_train)
print("Random Forest:", accuracy_score(y_test, model_3.predict(X_test)))

model_4.fit(X_train, y_train)
print("XGBoost:", accuracy_score(y_test, model_4.predict(X_test)))

model_5.fit(X_train, y_train)
print("LightGBM:", accuracy_score(y_test, model_5.predict(X_test)))

/Users/shanks/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:470: ConvergenceWarning: lbfgs failed to converge after 1000 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=1000).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic: 0.7780333525014376
Decision Tree: 0.7291546866014951
Random Forest: 0.7688326624496837
XGBoost: 0.780333525014376
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Number of positive: 3500, number of negative: 3454
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001067 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2695
[LightGBM] [Info] Number of data points in the train set: 6954, number of used features: 22
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.503307 -> initscore=0.013230
[LightGBM] [Info] Start training from score 0.013230
LightGBM: 0.7872340425531915

In [99]:
df_dummy = pd.read_csv("/Users/shanks/Downloads/spaceship-titanic/test.csv")
pred = model_5.predict(df_test)

final = pd.DataFrame()
final['PassengerId'] = df_dummy['PassengerId']
final['Transported'] = pred

final.to_csv('submission.csv', index=False)

In [100]:
df.head()

,Transported,Age,VIP,Num,CryoSleep,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,...,HomePlanet_U,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Destination_U,amt_spent,std_amt_spent,mean_amt_spent,3_high_cols,3_low_cols
0,False,39.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,False,False,True,False,0.0,0.000000,0.0,1.0,0.0
1,True,24.0,0.0,0.0,0.0,109.0,9.0,25.0,549.0,44.0,...,False,False,False,True,False,736.0,227.807375,147.2,0.0,884.2
2,False,58.0,1.0,0.0,0.0,43.0,3576.0,0.0,6715.0,49.0,...,False,False,False,True,False,10383.0,3013.383198,2076.6,1.0,12459.6
3,False,33.0,0.0,0.0,0.0,0.0,1283.0,371.0,3329.0,193.0,...,False,False,False,True,False,5176.0,1373.410427,1035.2,1.0,6211.2
4,True,16.0,0.0,1.0,0.0,303.0,70.0,151.0,565.0,2.0,...,False,False,False,True,False,1091.0,223.988169,218.2,0.0,1310.2